<!-- FOOTER -->
<footer>
  <div class="footerDonacija">
    <a href="#"><i class="far fa-heart"></i> Podrži</a>
  </div> <!-- end .footerDonacija -->
  <div class="footerPodijeliSocial">
    <a href="{{ site.facebook_path }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="{{ site.twitter_path }}" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="{{ site.youtube_path }}" target="_blank"><i class="fab fa-youtube"></i></a>
  </div> <!-- end .footerPodijeliSocial -->
</footer>
