<!-- HOMEPAGE NNAVIGATION -->
<ul class="homeNavigation">
  <li><a href="{{ site.baseurl }}/namazi">Namazi</a></li>
  <li><a href="{{ site.baseurl }}/hadisi">Hadisi</a></li>
  <li><a href="{{ site.baseurl }}/dove-i-zikroci">Dove i zikrovi</a></li>
  <li><a href="{{ site.baseurl }}/price-i-kazivanja">Priče i kazivanja</a></li>
  <li><a href="{{ site.baseurl }}/dogadjaji-i-gostovanja">Događaji i gostovanja</a></li>
  <li><a href="mailto:{{ site.email }}?subject=Es-selamu-alejkum">Kontakt</a></li>
</ul>
