<!-- HOMEPAGE NNAVIGATION -->
<ul class="homeNavigation">
  <li><a href="{{ site.baseurl }}/">O nama</a></li>
  <li><a href="{{ site.baseurl }}/">Namazi</a></li>
  <li><a href="{{ site.baseurl }}/">Hadisi</a></li>
  <li><a href="{{ site.baseurl }}/">Dove i zikrovi</a></li>
  <li><a href="{{ site.baseurl }}/">Priče i kazivanja</a></li>
  <li><a href="{{ site.baseurl }}/">Vjerovjesnici</a></li>
  <li><a href="{{ site.baseurl }}/">Događaji i gostovanja</a></li>
  <li><a href="{{ site.baseurl }}/">Kontakt</a></li>
</ul>
